name: GitHub-Profile-3D-Contrib

on:
  schedule: # 00:00 BRT == 03:00 UTC
    - cron: "0 03 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v4

      - name: Generate 3D profile
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          USERNAME: ErickPrado101
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Crop SVG (remove side chart)
        run: |
          if [ -d "profile-3d-contrib" ]; then
            for f in profile-3d-contrib/*.svg; do
              [ -f "$f" ] || continue
              perl -0777 -i -pe 's/width="1280"/width="980"/g; s/viewBox="0 0 1280 850"/viewBox="0 0 980 850"/g' "$f"
            done
          fi

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          git commit -m "chore: generate 3d contribution graph" || exit 0
          git push
