name: GitHub-Profile-3D-Contrib

on:
  schedule: # 00:00 BRT == 03:00 UTC
    - cron: "0 03 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: profile-3d-contrib
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate 3D profile
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          USERNAME: ErickPrado101
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SETTING_JSON: conf/github-profile-3d-contrib.json

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git pull --rebase --autostash origin main || true
          git add -A .
          git commit -m "chore: generate 3d contribution graph" || exit 0
          git push || (git pull --rebase --autostash origin main && git push)
