name: Generate Snake

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ErickPrado101
          outputs: |
            assets/snake.svg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Dark theme snake squares
        run: |
          if [ -f "assets/snake.svg" ]; then
            perl -0777 -i -pe 's/--ce:#ebedf0/--ce:#000000/sg; s/--c0:#ebedf0/--c0:#000000/sg; s/--cb:#1b1f230a/--cb:#00000033/sg' assets/snake.svg
          fi

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          git commit -m "chore: update snake" || exit 0
          git push
